<h1>Create a Service </h1>

<%= form_for [@service] do |f| %>

<%#= f.hidden_field :ai %>
<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :description %>
<%= f.text_field :description %>
</div>
<div>
<%= f.label :price %>
<%= f.text_field :price %>
</div>
 <br />
<%= f.submit %>
<% end %>
