PRICE: $ <%= @service.price %> </p>

count: <p><%= @service.ais.count %></p>

<% @service.ais.each do |ai| %>
<p><%= link_to ai.name, ai_path(ai)  %></p>
<p><%= ai.description  %></p>
<p><%= ai.balance  %></p>
<% end %>

<br>
<%= @service.name %> is a service that does the folloing job: <br/> <%= @service.description %>.
<br/><br/>
