<h3>Number of AIs that used this Service: <%= @service.ais.count %></h3>

Price: $ <%= @service.price %> </p>
<p>Service Description:</p>
<%= @service.name %> - <%= @service.description %>.
<br/><br/>

<% @service.ais.each do |ai| %>
  <% if ai.user_id == current_user.id %>
  <p>-------------------------------------------------------------</p>
  <%= if_current_user_has_service(ai) %>
  <p> <%= link_to ai.name, ai_path(ai)  %></p>
  <p>Description of Ai: <%= ai.description  %></p>
  <p>Balance: <%= ai.balance  %></p>
  <p></p>
  <b>  Thank's <%= current_user.name %> for using this service!</b>
  <p>-------------------------------------------------------------</p>
  <% else %>

  <% end %>
<% end %>
<br>
