<%#= link_to "Log Out", logout_path, method: :delete %>
<%#= link_to "Create new AI", new_ai_path%>

<h1>Hi, <%= @user.name %> 👋 Welcome!</h1>
<p>Data: <%= @user.data %></p>


<h3>Increase your data:</h3>
<ol>
<li>drive car: <%= link_to "add data", user_path(@user) %></li>
<li>use phone: <%= link_to "add data", user_path(@user) %></li>
<li>go to google: <%= link_to "add data", user_path(@user) %></li>
<li>go to facebook: <%= link_to "add data", user_path(@user) %></li>
</ol>

  <h3>My AI:</h3>

  <ul><% @user.ais.each do |ai| %>
  <li><p>Name: <%=link_to ai.name, ai_path(ai) %></p>
  <p>Description: <%= ai.description %></p>
  <p>Balance: <%= ai.balance %></p>
  <% end %>
  </ul>
