<h1>Edit Ai!</h1>

<%= form_for(@ai) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :description %>
<%= f.text_field :description %>

Balance:
<%= f.number_field :balance, min:0 %>

<%= f.submit %>
<% end %>
