<h1>AI index page</h1>

<%= form_tag(ais_path, method: "get") do %>
  <%= label_tag(:name, "Enter the name of the ai you want to see") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag(ais_path, method: "get") do %>
  <%= hidden_field_tag(:order, params[:order]) %>
  <%= submit_tag("Please order") %>
<% end %>



<ul><% @ais.each do |ai| %>
  <li><%=link_to ai.name_and_balance, ai_path(ai) %> - <%= link_to 'Destroy',  ai_path(ai), data: { confirm: 'Are you sure?' }, method: :delete %> OR <%= link_to "Edit AI", edit_ai_path(ai) %></li>
  <% end %>
</ul>
