<% if @ai.user_id == current_user.id %>
<%= link_to "Edit AI", edit_ai_path(@ai) %>
<% end %>
<%= link_to "View all ais", ais_path %>
<h1>One Ai</h1>

Name: <%= @ai.name %>
description: <%= @ai.description %>
balance: <%= @ai.balance %>

<p><%= link_to "See all services from #{@ai.name}", services_path %></p>
