<h1>Transaction Status</h1>


<p>Hi, <%= current_user.name %>!</p>

<%# if @transaction.status == nil %>
  <%#= "No status" %>
<%# else %>
<p> Is the transaction done? <%#= @transaction.done_transaction %></p>
<%# end %>
<p> What was your rating for the service?</p>

<%#= form_for(:transaction, :url => transactions_path, :method => :post) do |f| %>
<%= form_for @transaction do |f| %>
<%= f.label "Status" %> <br />
<%= f.check_box :status %> <br />
<%= f.submit %>
<% end %>
