<h1>Transaction Status</h1>


<p>Hi, <%= current_user.name %>!!!!!</p>

<%= transaction_completed?(@transaction) %>
<p>-----------------------------------------------------------------------</p>
<b>This is the Ai that you choose:</b>
<p>Ai: <%= @transaction.ai.name %></p>
<b>This is the service that you choose:</b>
<p>Name: <%= @transaction.service.name %></p>
<p>Description: <%= @transaction.service.description %></p>
<p>Price: <%= @transaction.service.price %></p>
<p>----------------------------------------------------------------------</p>
